.movie-detail {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;
  > * {
    flex: 2.5;
    min-width: 300px;
  }
  .poster {
    flex: 1;
    img {
      width: 100%;
    }
  }
  a {
    color:whitesmoke;
  }
  .data {
    padding-right: 1em;
  }
}
.related {
  padding: 2em;
}
* {
  color:white;
}

.genres {
  a {
    padding:0.5em;
    background: whitesmoke;
    color:black;
    margin-right: 1em;
    border-radius: 6px;
    text-decoration: none;
  }
}
